


*{
    /* background-color: rgb(49, 80, 82); */
    color: white;
    padding: 0;
    margin: 0;
    /* -webkit-text-stroke: 0.05px black; */
    font-family: 'Roboto Mono', monospace;
    ;
}
body{

    background: no-repeat url('./assets/background.svg');
    background-size: cover;
}
